.body{
    background-color: aquamarine;
    min-height: 100vh;
    background-size: 100vw 100vh;
}
.plocha{
    
    margin-left: auto;
    margin-right: auto;
    width: 90vmin;
}
#hraci_plocha{
    background-image: url("plocha.jpeg");
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}

.snake{
    background-color: purple;
    border: .25vmin solid rgb(17, 6, 6);
    border-radius: 1px;
}

.jidlo{
    background-color: red;
    border: .25vmin solid black;
    border-radius: 50px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

